In [1]:
from tensorflow.keras.datasets import reuters
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense, LSTM, Embedding
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
import numpy as np
import pandas as pd

In [9]:
(X_train, Y_train), (X_test, Y_test) = reuters.load_data(num_words=1000)

In [24]:
X_train = pad_sequences(X_train)
X_test = pad_sequences(X_test)

Y_train = to_categorical(Y_train)
Y_test = to_categorical(Y_test)

In [26]:
X_train.shape

(8982, 2376)

In [25]:
Y_train.shape

(8982, 46)

In [18]:
len(X_train)

8982

In [5]:
len(X_train[3])

224

In [11]:
temp = pad_sequences(X_train)
len(temp[2])

2376

In [16]:
X_train = pad_sequences(X_train)
X_test = pad_sequences(X_test)

Y_train = to_categorical(Y_train)
Y_test = to_categorical(Y_test)

In [17]:
new = pd.DataFrame(X_train)

In [18]:
new

,0,1,2,3,4,5,6,7,8,9,...,2366,2367,2368,2369,2370,2371,2372,2373,2374,2375
0,0,0,0,0,0,0,0,0,0,0,...,29,209,30,32,132,6,109,15,17,12
1,0,0,0,0,0,0,0,0,0,0,...,7,48,34,191,44,35,1795,505,17,12
2,0,0,0,0,0,0,0,0,0,0,...,11,9,26503,81,5,102,59,11,17,12
3,0,0,0,0,0,0,0,0,0,0,...,64,10,2281,455,5,7003,125,222,17,12
4,0,0,0,0,0,0,0,0,0,0,...,303,163,16,64,772,13,94,156,17,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8977,0,0,0,0,0,0,0,0,0,0,...,1130,6,592,4,9061,3009,172,642,17,12
8978,0,0,0,0,0,0,0,0,0,0,...,4,99,327,5,52,29,36,8,17,12
8979,0,0,0,0,0,0,0,0,0,0,...,16,369,646,6,1076,7,124,407,17,12
8980,0,0,0,0,0,0,0,0,0,0,...,6463,43,359,5,4,326,753,364,17,12
8981,0,0,0,0,0,0,0,0,0,0,...,3994,8519,114,5758,1752,7,4,113,17,12

In [26]:
len(X_train[2])

139

In [17]:
type(X_train)

numpy.ndarray

In [27]:
type(X_train[0])

list

In [23]:
X_train.shape[2]

IndexError: tuple index out of range

In [21]:
Y_train

array([ 3,  4,  3, ..., 25,  3, 25], dtype=int64)

In [22]:
len(Y_train)

8982

In [19]:
temp = to_categorical(Y_train)

In [23]:
len(temp)

8982

In [20]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense

model = Sequential()
model.add(LSTM(32,))
model.add(Dense(1, activation='sigmoid'))

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [30]:
import tensorflow as tf
(x_train, y_train), (x_test, y_test) = tf.keras.datasets.mnist.load_data()
# x_train = x_train.reshape(-1, 28*28).astype('float32') / 255.
# x_test = x_test.reshape(-1, 28*28).astype('float32') / 255.

In [31]:
x_train.shape

(60000, 28, 28)