In [2]:
from tensorflow.keras.datasets import reuters
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense, LSTM, Embedding
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
import numpy as np
import pandas as pd

In [3]:
(X_train, Y_train), (X_test, Y_test) = reuters.load_data(num_words=100)

In [4]:
X_train

array([list([1, 2, 2, 8, 43, 10, 2, 5, 25, 2, 2, 5, 2, 2, 16, 2, 2, 90, 67, 7, 89, 5, 19, 2, 6, 19, 2, 15, 90, 67, 84, 22, 2, 26, 7, 48, 4, 49, 8, 2, 39, 2, 2, 6, 2, 6, 83, 11, 15, 22, 2, 11, 15, 7, 48, 9, 2, 2, 2, 6, 2, 6, 2, 11, 15, 22, 2, 44, 11, 15, 16, 8, 2, 2, 90, 67, 52, 29, 2, 30, 32, 2, 6, 2, 15, 17, 12]),
       list([1, 2, 2, 2, 2, 56, 2, 2, 9, 56, 2, 2, 81, 5, 2, 57, 2, 2, 2, 20, 2, 7, 2, 49, 2, 2, 2, 2, 2, 2, 8, 7, 10, 2, 16, 2, 2, 2, 2, 5, 4, 2, 2, 2, 2, 2, 7, 48, 34, 2, 44, 35, 2, 2, 17, 12]),
       list([1, 53, 12, 2, 15, 14, 2, 26, 53, 2, 32, 2, 15, 14, 2, 26, 39, 2, 70, 11, 14, 12, 2, 18, 2, 2, 2, 70, 11, 14, 2, 32, 11, 29, 53, 44, 2, 15, 14, 19, 2, 15, 53, 2, 47, 2, 15, 14, 19, 2, 15, 39, 2, 32, 11, 14, 2, 72, 11, 2, 2, 2, 44, 11, 14, 2, 19, 11, 2, 2, 90, 67, 2, 4, 78, 13, 68, 2, 2, 2, 59, 89, 90, 67, 2, 55, 2, 92, 2, 80, 2, 46, 2, 2, 13, 4, 2, 48, 2, 2, 5, 2, 5, 2, 7, 2, 81, 5, 2, 11, 15, 9, 2, 2, 5, 47, 2, 18, 2, 2, 5, 2, 7, 2, 2, 71, 5, 2, 63, 11, 9, 2, 81, 5, 2, 59, 11, 17, 12]),
       ...,
       list([1, 2, 2, 2, 81, 8, 16, 2, 10, 2, 2, 2, 31, 56, 2, 2, 9, 2, 71, 9, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 49, 8, 4, 2, 2, 33, 2, 9, 2, 2, 2, 2, 9, 2, 22, 2, 2, 2, 83, 35, 15, 2, 6, 57, 2, 7, 4, 2, 2, 5, 2, 2, 2, 4, 49, 8, 16, 2, 2, 6, 2, 7, 2, 2, 17, 12]),
       list([1, 53, 46, 2, 26, 14, 74, 2, 26, 39, 46, 2, 2, 18, 14, 74, 2, 2, 18, 88, 2, 72, 11, 14, 2, 32, 11, 2, 2, 89, 39, 46, 2, 10, 2, 2, 5, 2, 44, 11, 15, 22, 2, 9, 42, 92, 2, 2, 5, 69, 2, 11, 15, 22, 2, 2, 2, 2, 48, 39, 74, 2, 10, 2, 2, 5, 61, 32, 11, 15, 21, 4, 2, 5, 2, 2, 42, 92, 2, 46, 19, 2, 11, 15, 22, 2, 2, 9, 42, 92, 2, 2, 5, 59, 61, 11, 15, 22, 10, 2, 7, 2, 2, 2, 2, 6, 2, 2, 2, 2, 43, 2, 5, 4, 2, 2, 2, 17, 12]),
       list([1, 2, 2, 91, 2, 2, 2, 21, 4, 2, 76, 7, 4, 2, 2, 2, 2, 2, 2, 9, 2, 2, 8, 7, 10, 76, 2, 51, 4, 2, 8, 2, 91, 2, 2, 2, 7, 2, 2, 6, 2, 21, 2, 2, 2, 2, 6, 2, 4, 2, 2, 7, 65, 87, 2, 10, 2, 2, 2, 9, 21, 2, 16, 2, 24, 4, 76, 2, 30, 2, 2, 2, 8, 4, 60, 8, 4, 2, 2, 40, 2, 2, 2, 2, 2, 2, 9, 24, 2, 2, 2, 2, 9, 4, 2, 2, 2, 2, 2, 2, 7, 4, 2, 17, 12])],
      dtype=object)

In [5]:
len(X_train[3])

224

In [11]:
temp = pad_sequences(X_train)
len(temp[2])

2376

In [16]:
X_train = pad_sequences(X_train)
X_test = pad_sequences(X_test)

Y_train = to_categorical(Y_train)
Y_test = to_categorical(Y_test)

In [17]:
new = pd.DataFrame(X_train)

In [18]:
new

,0,1,2,3,4,5,6,7,8,9,...,2366,2367,2368,2369,2370,2371,2372,2373,2374,2375
0,0,0,0,0,0,0,0,0,0,0,...,29,209,30,32,132,6,109,15,17,12
1,0,0,0,0,0,0,0,0,0,0,...,7,48,34,191,44,35,1795,505,17,12
2,0,0,0,0,0,0,0,0,0,0,...,11,9,26503,81,5,102,59,11,17,12
3,0,0,0,0,0,0,0,0,0,0,...,64,10,2281,455,5,7003,125,222,17,12
4,0,0,0,0,0,0,0,0,0,0,...,303,163,16,64,772,13,94,156,17,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8977,0,0,0,0,0,0,0,0,0,0,...,1130,6,592,4,9061,3009,172,642,17,12
8978,0,0,0,0,0,0,0,0,0,0,...,4,99,327,5,52,29,36,8,17,12
8979,0,0,0,0,0,0,0,0,0,0,...,16,369,646,6,1076,7,124,407,17,12
8980,0,0,0,0,0,0,0,0,0,0,...,6463,43,359,5,4,326,753,364,17,12
8981,0,0,0,0,0,0,0,0,0,0,...,3994,8519,114,5758,1752,7,4,113,17,12

In [26]:
len(X_train[2])

139

In [17]:
type(X_train)

numpy.ndarray

In [27]:
type(X_train[0])

list

In [16]:
X_train

array([list([1, 2, 2, 8, 43, 10, 2, 5, 25, 2, 2, 5, 2, 2, 16, 2, 2, 90, 67, 7, 89, 5, 19, 2, 6, 19, 2, 15, 90, 67, 84, 22, 2, 26, 7, 48, 4, 49, 8, 2, 39, 2, 2, 6, 2, 6, 83, 11, 15, 22, 2, 11, 15, 7, 48, 9, 2, 2, 2, 6, 2, 6, 2, 11, 15, 22, 2, 44, 11, 15, 16, 8, 2, 2, 90, 67, 52, 29, 2, 30, 32, 2, 6, 2, 15, 17, 12]),
       list([1, 2, 2, 2, 2, 56, 2, 2, 9, 56, 2, 2, 81, 5, 2, 57, 2, 2, 2, 20, 2, 7, 2, 49, 2, 2, 2, 2, 2, 2, 8, 7, 10, 2, 16, 2, 2, 2, 2, 5, 4, 2, 2, 2, 2, 2, 7, 48, 34, 2, 44, 35, 2, 2, 17, 12]),
       list([1, 53, 12, 2, 15, 14, 2, 26, 53, 2, 32, 2, 15, 14, 2, 26, 39, 2, 70, 11, 14, 12, 2, 18, 2, 2, 2, 70, 11, 14, 2, 32, 11, 29, 53, 44, 2, 15, 14, 19, 2, 15, 53, 2, 47, 2, 15, 14, 19, 2, 15, 39, 2, 32, 11, 14, 2, 72, 11, 2, 2, 2, 44, 11, 14, 2, 19, 11, 2, 2, 90, 67, 2, 4, 78, 13, 68, 2, 2, 2, 59, 89, 90, 67, 2, 55, 2, 92, 2, 80, 2, 46, 2, 2, 13, 4, 2, 48, 2, 2, 5, 2, 5, 2, 7, 2, 81, 5, 2, 11, 15, 9, 2, 2, 5, 47, 2, 18, 2, 2, 5, 2, 7, 2, 2, 71, 5, 2, 63, 11, 9, 2, 81, 5, 2, 59, 11, 17, 12]),
       ...,
       list([1, 2, 2, 2, 81, 8, 16, 2, 10, 2, 2, 2, 31, 56, 2, 2, 9, 2, 71, 9, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 49, 8, 4, 2, 2, 33, 2, 9, 2, 2, 2, 2, 9, 2, 22, 2, 2, 2, 83, 35, 15, 2, 6, 57, 2, 7, 4, 2, 2, 5, 2, 2, 2, 4, 49, 8, 16, 2, 2, 6, 2, 7, 2, 2, 17, 12]),
       list([1, 53, 46, 2, 26, 14, 74, 2, 26, 39, 46, 2, 2, 18, 14, 74, 2, 2, 18, 88, 2, 72, 11, 14, 2, 32, 11, 2, 2, 89, 39, 46, 2, 10, 2, 2, 5, 2, 44, 11, 15, 22, 2, 9, 42, 92, 2, 2, 5, 69, 2, 11, 15, 22, 2, 2, 2, 2, 48, 39, 74, 2, 10, 2, 2, 5, 61, 32, 11, 15, 21, 4, 2, 5, 2, 2, 42, 92, 2, 46, 19, 2, 11, 15, 22, 2, 2, 9, 42, 92, 2, 2, 5, 59, 61, 11, 15, 22, 10, 2, 7, 2, 2, 2, 2, 6, 2, 2, 2, 2, 43, 2, 5, 4, 2, 2, 2, 17, 12]),
       list([1, 2, 2, 91, 2, 2, 2, 21, 4, 2, 76, 7, 4, 2, 2, 2, 2, 2, 2, 9, 2, 2, 8, 7, 10, 76, 2, 51, 4, 2, 8, 2, 91, 2, 2, 2, 7, 2, 2, 6, 2, 21, 2, 2, 2, 2, 6, 2, 4, 2, 2, 7, 65, 87, 2, 10, 2, 2, 2, 9, 21, 2, 16, 2, 24, 4, 76, 2, 30, 2, 2, 2, 8, 4, 60, 8, 4, 2, 2, 40, 2, 2, 2, 2, 2, 2, 9, 24, 2, 2, 2, 2, 9, 4, 2, 2, 2, 2, 2, 2, 7, 4, 2, 17, 12])],
      dtype=object)

In [21]:
Y_train

array([ 3,  4,  3, ..., 25,  3, 25], dtype=int64)

In [22]:
len(Y_train)

8982

In [19]:
temp = to_categorical(Y_train)

In [23]:
len(temp)

8982